{% extends 'base.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<h2 class="mb-4">Join as a Volunteer</h2>

<form method="POST">
    {% csrf_token %}

    <input class="form-control mb-2" name="name" placeholder="Full Name" required>
    <input class="form-control mb-2" name="email" placeholder="Email" required>
    <input class="form-control mb-2" name="phone" placeholder="Phone Number" required>

    <textarea class="form-control mb-2" name="message" placeholder="Why do you want to join?" required></textarea>

    <button class="btn btn-primary">Submit</button>
</form>

{% endblock %}